.services {
    background-color: $sectionBgDarkColor;
    background-image: url("..//.images/prices-mobile-1x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url("..//.images/prices-mobile-2x.png");
        }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .services {
        background-image: url("..//.images/prices-tablet-1x.png");
    }

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .services {
                background-image: url("..//.images/prices-tablet-2x.png");
            }
        }
}

@media screen and (min-width: 1200px) {
    .services {
        background-image: url("..//.images/prices-desktop-1x.png");
    }

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .services {
                background-image: url("..//.images/prices-desktop-2x.png");
            }
        }
}

.services__container {
    @media screen and (min-width: 480px) and (max-width: 767px) {
        max-width: 418px;
    }
}

.button-container {
    display: flex;
    justify-content: center;
}

.services__subtitle {
    margin-bottom: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: $subtitleColor;
}

.services__title {
    margin-bottom: 44px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.05em;
    color: $whiteColor;
}

.services__wrap {
    margin-bottom: 44px;

    @media screen and (max-width: 767px) {
        padding: 30px 20px 30px 40px;
        background-image: $servicesFirstGradient;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        padding: 32px 27px 32px 40px;
        background-image: $servicesFirstGradient;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        gap: 30px;
    }
}

.services__list {
    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 30px) / 2);
        padding: 30px 22px 30px 20px;
    }
}

.services__list--light-theme {
    @media screen and (max-width: 1199px) {
        margin-bottom: 20px;
    }

    @media screen and (min-width: 1200px) {
        background-image: $servicesFirstGradient;
    }
}

.services__list--dark-theme {
    @media screen and (min-width: 1200px) {
        background-image: $servicesSecondGradient;
    }
}

.services__item {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    align-items: baseline;

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.services__item::after {
    content: '';
    flex-grow: 1;
    height: 1px;
    background-color: $lineColor;
}

.services__text {
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.02em;
    color: $additionalTextColor;

    @media screen and (min-width: 768px) {
        font-size: 18px;
        line-height: 1.67;
    }
}

.services__text:last-child {
    order: 1;
}