$accentColor: #0084ff;
$whiteColor:#FFFFFF;
$sectionBgColor: #F7F7F7;
$darkBgColor: #191C26;
$sectionBgDarkColor: #111319;
$primaryTextColor: #303030;
$secondaryTextColor: #555555;
$additionalTextColor: #9DA4BD;
$heroGradient: rgba(25, 28, 38, 0.2);
$subtitleColor: rgba(157, 164, 189, 0.6);
$lineColor: rgba(157, 164, 189, 0.12);
$footerLineColor: rgba(157, 164, 189, 0.4);
$duration: 250ms;
$timingFunction: cubic-bezier(0.4, 0, 0.2, 1);
$servicesFirstGradient: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
$servicesSecondGradient: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);